<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title> CV </title>
</head>

<body>

<center>
  <a href="about.html">okay</a>
<h1> Cirriculum Vitae </h1>

<p>--------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
<img src="okay.png" alt="SVKM NMIMS">
</center>



<p>
<b> Btech Computer Science</b>
</p>


<table>
<tr>
<th><u> Name: </u></th>
<td> Madhav Gupta</td>
</tr>
</table>


<table>
<tr>
<th><u> Objective: </u> </th>
<td> okay </td>
</tr>
</table>

<p>
<b> 
<u>
Education:
</u>
</b>
</p>

<table frame="box" border="1px"> 


<tr>
<th> Degree </th>
<th> Institute </th>
<th> Board/University </th>
<th> CGPA/Percentage</th>
<th> Year </th.
</tr>

<tr>
<td> BTech</td>
<td> NMIMS </td>
<td> SVKM NMIMS </td>
<td> 4.0</td>
<td> 2026 </td>
</tr>

<tr>
<td> XII Board </td>
<td> RPS </td>
<td> CBSE </td>
<td> 92.8</td>
<td> 2022 </td>
</tr>

<tr>
<td> X Board </td>
<td>RPS </td>
<td> CBSE</td>
<td>90.0</td>
<td> 2020 </td>
</tr>
</table>

<p> 
<u>
<b>
Technical Skills:
</u>
</b>
</p>

<table frame = box, border =1px>
<tr>
<th>Domain</th>
<th>Details</th>
</tr>

<tr>
<td> Languages</td>
<td> C++, C, Python, HTML </td>
</tr>

<tr>
<td> Web designing</td>
<td> HTML, CSS</td>
<tr>

<tr>
<td> Software </td>
<td> MS Office, Canva, Photoshop </td>
</tr>

<tr>
<td> Databsae</td>
<td> 	</td>
</tr>

<tr>
<td> Analytics</td>
<td> 	</td>
</tr>

<tr>
<td> operating system</td>
<td> 	</td>
</tr>

</table>

<p>
<u>
<b>
Key Projects:
</u>
</b>
</p>


<table frame=box border =1px>

<tr>
<th> Project title</th>
<th> Duration</th>
<th> Platfrom used</th>

<th> Brief Description</th>
</tr>

<tr>
<td> Library Management system</td>
<td> 2 months</td>
<td> C++</td>
<td> </td>
</tr>

<tr>
<td> flight reservation system</td>
<td> 2 months</td>
<td> Python</td>
<td> </td>
</tr>

<tr>
<td> Library Management system</td>
<td> 2 months</td>
<td> C++</td>
<td> </td>
</tr>
</table>



<p>
<u>
<b>
TECHNICAL –PRESENTATION/WORKSHOPS/CERTIFICATION
</u>
</b>
</p>

<ul>
<li> Program 1</li>
<li> Program 2</li>
</ul>



<p>
<u>
<b>
TECHNICAL –WORK EXPERIENCE / INTERNSHIPS:
</u>
</b>
</p>

<ol>
<li> Internship 1</li>
<li> Internship 2</li>
</ol>






</body>
</html>